.header{
    height: 10%;
    justify-content: space-between;
    padding: 0 100px;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px){
    .header{
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 400px){
    .header{
      padding: 0 0;
    }
  }