.challenges{
    position: absolute;
    top: 10%;
    right: 10%;
    height: 200px;
    width: 300px;
    background-color: rgb(107, 221, 107);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: slide 1s;
}