.chessboard{
    border: solid 1px black;
    overflow: hidden;
    min-width: 320px;
    aspect-ratio: 1;

}

.box{
    max-width: 88px;
    min-width: 40px;
    width: 9vw;
    aspect-ratio: 1;
    border: solid 1px black;
}

.row{
    display: flex;
}

.selected{
    filter: invert(63%) sepia(14%) saturate(1019%) hue-rotate(47deg) brightness(85%) contrast(92%);}