.chessboard {
    border: solid 1px black;
    /* min-width: 320px; */
    aspect-ratio: 1;
    position: relative;
}

.box {
    position: relative;
    max-width: 60px;
    /* min-width: 40px; */
    width: 6vw;
    aspect-ratio: 1;
    border: solid 1px black;
}

.row {
    display: flex;
}

.selected {
    filter: invert(63%) sepia(14%) saturate(1019%) hue-rotate(47deg) brightness(85%) contrast(92%);
}

.validMove {
    filter: invert(63%) sepia(14%) saturate(1019%) hue-rotate(47deg) brightness(85%) contrast(92%);
}

.chesspiece {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: min(4.5vw, 45px);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion{
    z-index: 100;
    position: absolute;
    display: none;
    bottom: 0;
}

.promotion p{
    font-size: min(4vw, 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    max-width: 50px;
    width: 5vw;
    aspect-ratio: 1;
    background-color: white;
    border: solid 2px black;
}