/* context/Popup.module.css */
.popup {
  position: fixed;
  background-color: rgb(93, 139, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  padding: 0px 10px;
}

.content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {right: -50px}
  to {right: 50px;}
}

.top-right{
  top: 20px;
  right: 50px;
  animation: fadeIn 0.2s ease-in;
}

.top-left{
  top: 20px;
  left: 20px;
}

.bottom-right{
  bottom: 20px;
  right: 20px;
}

.bottom-left{
  bottom: 20px;
  left: 20px;
}

.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}